html {
  text-align: center;
  font-family: Helvetica;
}
h1{
  font-size: 70px;
  font-weight: bold;
}
.header {
background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
color: White;
}
ul {
  list-style-type: none;
}
.navigationmenu li a{
  color: White;
  font-weight: bold;
  font-size: 18px;
}
.subheadings {
font-size: 23px;
font-weight: bold;
}
.text {
  font-size: 14px;
}
.newyork {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  font-weight: bold;
  color: White;
  font-size: 23px;
}
.footer {
  background-color: gray;
  color: White;
  text-align: left;
  font-size: px
}
.footer a{
  background-color: gray;
  color: White;
  text-align: left;
}
